<dialog
  id="new-participant-modal"
  class="opacity-0 rounded-md p-0.8 shadow-md"
  _="init call my.showModal() transition my opacity to 100% over 100ms
    on showModal call my.showModal() transition my opacity to 100% over 100ms
    on closeModal transition my opacity to 0% over 100ms then call my.close()"
>
  <form
    hx-post="/participants/create"
    hx-target="#item-list"
    hx-swap="outerHTML"
  >
    <div class="transition-all sm:max-w-lg sm:w-full m-3 sm:mx-auto">
      <div
        class="flex flex-col bg-white border shadow-sm rounded-md pointer-events-auto dark:bg-gray-800 dark:border-gray-700 dark:shadow-slate-700/[.7]"
      >
        <div
          class="flex justify-between items-center py-3 px-4 border-b dark:border-gray-700"
        >
          <h3 class="font-bold text-gray-800 dark:text-white">
            New Participant
          </h3>
          <button
            type="button"
            class="flex justify-center items-center size-7 text-sm font-semibold rounded-full border border-transparent text-gray-800 hover:bg-gray-100 disabled:opacity-50 disabled:pointer-events-none dark:text-white dark:hover:bg-gray-700 dark:focus:outline-none dark:focus:ring-1 dark:focus:ring-gray-600"
            _="on click trigger closeModal"
          >
            <span class="sr-only">Close</span>
            <svg
              class="flex-shrink-0 size-4"
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            >
              <path d="M18 6 6 18" />
              <path d="m6 6 12 12" />
            </svg>
          </button>
        </div>
        <div class="p-4 overflow-y-auto">
          <div class="flex justify-between items-center">
            <label
              for="participant-name-input"
              class="block text-sm font-medium mb-2 dark:text-white"
              >Name</label
            >
          </div>
          <input
            type="text"
            name="participant_name"
            id="participant-name-input"
            class="py-2.5 px-4 mb-2.5 block w-full border-gray-200 rounded-lg text-sm focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none dark:bg-slate-900 dark:border-gray-700 dark:text-gray-400 dark:focus:ring-gray-600"
            placeholder="Participant name"
          />
        </div>
      </div>
      <div
        class="flex justify-end items-center gap-x-2 py-3 px-4 border-t dark:border-gray-700"
      >
        <button
          type="button"
          class="py-1.5 px-3 inline-flex items-center gap-x-2 text-sm font-medium rounded-lg border border-gray-200 bg-white text-gray-800 shadow-sm hover:bg-gray-50 disabled:opacity-50 disabled:pointer-events-none dark:bg-slate-900 dark:border-gray-700 dark:text-white dark:hover:bg-gray-800 dark:focus:outline-none dark:focus:ring-1 dark:focus:ring-gray-600"
          _="on click trigger closeModal"
        >
          Cancel
        </button>
        <button
          type="submit"
          class="py-1.5 px-3 inline-flex items-center gap-x-2 text-sm font-semibold rounded-lg border border-transparent bg-green-600 text-white hover:bg-green-700 disabled:opacity-50 disabled:pointer-events-none dark:focus:outline-none dark:focus:ring-1 dark:focus:ring-gray-600"
          _="on click trigger closeModal"
        >
          Create
        </button>
      </div>
    </div>
  </form>
</dialog>
