<div class="flex flex-col flex-1 bg-white dark:bg-gray-800">
  <div
    class="bg-gray-100 border-b py-1 px-4 md:px-2 dark:bg-slate-900 dark:border-gray-700"
  >
    <!-- Pagination -->
    <nav class="flex items-center gap-x-1">
      <span class="font-bold text-gray-500 dark:text-white">Round</span>
      <button
        type="button"
        class="min-h-[38px] min-w-[38px] py-2 px-2.5 inline-flex justify-center items-center gap-x-2 text-sm rounded-lg border border-transparent text-gray-500 hover:bg-gray-100 focus:outline-none focus:bg-gray-100 disabled:opacity-50 disabled:pointer-events-none dark:border-transparent dark:text-white dark:hover:bg-white/10 dark:focus:bg-white/10"
      >
        <svg
          class="flex-shrink-0 size-3.5"
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
        >
          <path d="m15 18-6-6 6-6" />
        </svg>
        <span aria-hidden="true" class="sr-only">Previous</span>
      </button>
      <div class="flex items-center gap-x-1">
        <button
          type="button"
          class="min-h-[38px] min-w-[38px] flex justify-center items-center border border-gray-200 text-gray-500 py-2 px-3 text-sm rounded-lg focus:outline-none focus:bg-gray-50 disabled:opacity-50 disabled:pointer-events-none dark:border-gray-700 dark:text-white dark:focus:bg-white/10"
          aria-current="page"
        >
          1
        </button>
        <button
          type="button"
          class="min-h-[38px] min-w-[38px] flex justify-center items-center border border-transparent text-gray-500 hover:bg-gray-100 py-2 px-3 text-sm rounded-lg focus:outline-none focus:bg-gray-100 disabled:opacity-50 disabled:pointer-events-none dark:border-transparent dark:text-white dark:hover:bg-white/10 dark:focus:bg-white/10"
        >
          2
        </button>
        <button
          type="button"
          class="min-h-[38px] min-w-[38px] flex justify-center items-center border border-transparent text-gray-500 hover:bg-gray-100 py-2 px-3 text-sm rounded-lg focus:outline-none focus:bg-gray-100 disabled:opacity-50 disabled:pointer-events-none dark:border-transparent dark:text-white dark:hover:bg-white/10 dark:focus:bg-white/10"
        >
          3
        </button>
      </div>
      <button
        type="button"
        class="min-h-[38px] min-w-[38px] py-2 px-2.5 inline-flex justify-center items-center gap-x-2 text-sm rounded-lg border border-transparent text-gray-500 hover:bg-gray-100 focus:outline-none focus:bg-gray-100 disabled:opacity-50 disabled:pointer-events-none dark:border-transparent dark:text-white dark:hover:bg-white/10 dark:focus:bg-white/10"
      >
        <span aria-hidden="true" class="sr-only">Next</span>
        <svg
          class="flex-shrink-0 size-3.5"
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
        >
          <path d="m9 18 6-6-6-6" />
        </svg>
      </button>
      <button
        type="button"
        class="min-h-[38px] min-w-[38px] py-2 px-2.5 inline-flex justify-center items-center gap-x-2 text-sm rounded-lg border border-transparent text-gray-500 hover:bg-gray-100 focus:outline-none focus:bg-gray-100 disabled:opacity-50 disabled:pointer-events-none dark:border-transparent dark:text-white dark:hover:bg-white/10 dark:focus:bg-white/10"
      >
        <span aria-hidden="true" class="sr-only">New Round</span>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 20 20"
          fill="currentColor"
          class="w-5 h-5"
        >
          <path
            d="M10.75 4.75a.75.75 0 0 0-1.5 0v4.5h-4.5a.75.75 0 0 0 0 1.5h4.5v4.5a.75.75 0 0 0 1.5 0v-4.5h4.5a.75.75 0 0 0 0-1.5h-4.5v-4.5Z"
          />
        </svg>
      </button>
    </nav>
    <!-- End Pagination -->
  </div>

  <div
    class="flex flex-row flex-wrap content-around gap-2 m-4 items-center justify-around"
  >
    <!-- Match Card-->
    <div
      id="match-card-1"
      class="flex flex-col place-content-between h-40 w-80 bg-white border shadow-sm rounded-xl dark:bg-slate-900 dark:border-gray-700 dark:shadow-slate-700/[.7]"
    >
      <div class="m-1 p-2">
        <h4 class="text-base font-bold text-gray-800 dark:text-white">
          Court 1
        </h4>
        <div
          class="text-xs divide-x mt-2 grid grid-col-3 grid-flow-col content-between"
        >
          <div class="row-auto divide-y-2 px-1">
            <div class="p-1 line-clamp-2">Player 1</div>
            <div class="p-1 line-clamp-2">Player 4</div>
          </div>
          <span
            class="px-1 inline-block align-middle text-lg text-center content-center justify-center row-span-2"
          >
            vs
          </span>
          <div class="row-auto divide-y-2 px-1">
            <div class="p-1 line-clamp-2">Player 2</div>
            <div class="p-1 line-clamp-2">Player 3</div>
          </div>
        </div>
      </div>
      <div
        class="bg-gray-100 border-t rounded-b-xl py-2 px-5 dark:bg-slate-900 dark:border-gray-700"
      >
        <p
          class="text-center font-bold text-sm text-gray-500 dark:text-gray-500"
        >
          In Progress
        </p>
      </div>
    </div>

    <!-- Match Card 2-->
    <div
      id="match-card-2"
      class="flex flex-col place-content-between h-40 w-80 bg-white border shadow-sm rounded-xl dark:bg-slate-900 dark:border-gray-700 dark:shadow-slate-700/[.7]"
    >
      <div class="px-2 pt-2 pb-1">
        <h4 class="text-base font-bold text-gray-800 dark:text-white">
          Court 2
        </h4>
        <div class="text-xs divide-x mt-2 grid grid-col-3 grid-flow-col">
          <div class="row-auto divide-y-2">
            <p class="p-1 row-span-2 line-clamp-2">Jacop Evanline</p>
            <p class="p-1 row-span-2 line-clamp-2">Isaac Van der Kranse</p>
          </div>
          <div class="px-1 row-span-2 flex flex-col place-content-center">
            <p class="text-lg text-center align-middle">vs</p>
          </div>
          <div class="row-auto divide-y-2">
            <p class="p-1 line-clamp-2">Paul Michael Oscar Schriver</p>
            <p class="p-1 line-clamp-2">
              Silas Da Silva Miguel Oliveria Fontseca
            </p>
          </div>
        </div>
      </div>
      <div
        class="bg-green-300 border-t rounded-b-xl py-1 px-5 dark:bg-slate-900 dark:border-gray-700"
      >
        <p
          class="text-center font-bold text-sm text-gray-500 dark:text-gray-500"
        >
          5 - 7
        </p>
      </div>
    </div>
  </div>
</div>
