<section
  id="participants"
  class="bg-gray-200 rounded shadow-gray-600 border-gray-600"
>
  <div class="flex flex-col">
    <section id="list-included-participants">
      <div class="flex flex-col gap-2 p-4">
        <h3 class="text-start pl-2 font-medium text-gray-500 uppercase">
          Participants
        </h3>
        <div
          class="grid md:grid-cols-2 lg:grid-cols-3 min-w-full gap-2 md:gap-3"
        >
          {% for participant in participants %}
          <div
            class="flex items-center bg-gray-50 min-w-52 max-w-xs rounded gap-1 px-2 py-2 text-sm text-gray-800 cursor-default hover:text-bold hover:bg-gray-100"
          >
            <div class="text-sm text-gray-400"></div>
            <div>{{ participant.name }}</div>
          </div>
          {% endfor %}
        </div>

        <div
          class="flex mt-2 rounded items-center justify-center bg-gray-300 text-gray-50 hover:bg-gray-400"
          hx-get="/rounds/{{ active_round.id }}/update_participants"
          hx-target="#update-participants"
          _="on click toggle .hidden on #update-participants"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="w-5 h-5"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="m4.5 5.25 7.5 7.5 7.5-7.5m-15 6 7.5 7.5 7.5-7.5"
            />
          </svg>
        </div>
      </div>
    </section>

    {% let show_update = update_participants_template.is_some() %}
    <section
      id="update-participants"
      class="{% if !show_update %} hidden {% endif %} max-w-full transition-all duration-300"
    >
      {% if show_update %} {% let template =
      update_participants_template.as_ref().unwrap() %} {{ template|safe }} {%
      endif %}
    </section>
  </div>
</section>
