<div class="grid md:grid-cols-2 lg:grid-cols-3 min-w-full gap-2 md:gap-3">
  {% for participant in participants %}
  <div
    class="flex items-center bg-gray-50 min-w-52 max-w-xs rounded gap-1 px-2 py-2 text-sm text-gray-800 cursor-default hover:text-bold hover:bg-gray-100"
    hx-post="/rounds/{{ round_id }}/add_participant/{{ participant.id }}"
    hx-target="#participants"
    hx-swap="outerHTML"
  >
    <div class="text-gray-400">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 16 16"
        fill="currentColor"
        class="w-4 h-4"
      >
        <path
          d="M8.75 3.75a.75.75 0 0 0-1.5 0v3.5h-3.5a.75.75 0 0 0 0 1.5h3.5v3.5a.75.75 0 0 0 1.5 0v-3.5h3.5a.75.75 0 0 0 0-1.5h-3.5v-3.5Z"
        />
      </svg>
    </div>
    <div>{{ participant.name }}</div>
  </div>
  {% endfor %}
</div>
