<!doctype html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/assets/output.css" rel="stylesheet" type="text/css" />
    <script
      src="https://unpkg.com/htmx.org@1.9.10"
      integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC"
      crossorigin="anonymous"
    ></script>
    <script src="https://unpkg.com/hyperscript.org@0.9.12"></script>
    <script src="/assets/preline.js"></script>
  </head>
  <body class="bg-gray-50">
    {% block header %} {% endblock header %}

    <main>
      <div id="content" class="mx-auto max-w-7xl py-2 sm:px-6 lg:px-8">
        {% block content %}
        <p>Placeholder Content</p>
        {% endblock content %}
      </div>
    </main>
  </body>
</html>
