{% extends "base.html" %}
{% block header %}
{% let selected = "Dashboard" %}
{% include "partials/navbar.html" %}
{% endblock header %}
{% block content %}

<div class="overflow-x-auto rounded-box">
  <table class="table table-zebra">
    <thead>
      <tr>
        <th></th>
        <th>Player</th>
        <th>Score</th>
      </tr>
    </thead>
    <tbody>
    {% for entry in entries %}
      <tr>
        <th>{{ loop.index }}</th>
        <td>{{ entry.player }}</td>
        <td>{{ entry.score }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
