{% extends "base.html" %}
{% block header %}
{% let selected = "Venues" %}
{% include "partials/navbar.html" %}
{% endblock header %}
{% block content %}
<button
  type="button"
  id="new-venue-btn"
  hx-get="/venues/create"
  hx-trigger="click once"
  hx-target="#new-venue-modal"
  hx-swap="outerHTML"
  _="on click send showModal to #new-venue-modal"
  class="py-2 px-4 inline-flex items-center gap-x-2 text-sm font-medium rounded-lg border border-gray-200 bg-white text-gray-800 shadow-sm hover:bg-gray-50 disabled:opacity-50 disabled:pointer-events-none dark:bg-slate-900 dark:border-gray-700 dark:text-white dark:hover:bg-gray-800 dark:focus:outline-none dark:focus:ring-1 dark:focus:ring-gray-600">
  New
<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-5 h-5">
  <path d="M10.75 4.75a.75.75 0 0 0-1.5 0v4.5h-4.5a.75.75 0 0 0 0 1.5h4.5v4.5a.75.75 0 0 0 1.5 0v-4.5h4.5a.75.75 0 0 0 0-1.5h-4.5v-4.5Z" />
</svg>
</button>

<dialog id="new-venue-modal">
  <div
    class="animate-spin inline-block size-6 border-[3px] border-current border-t-transparent text-blue-600 rounded-full dark:text-blue-500"
    role="status"
    aria-label="loading"
  >
    <span class="sr-only">Loading...</span>
  </div>
</dialog>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
    </tr>
  </thead>
  <tbody>
    {% for venue in venues %}
    <tr class="hover" hx-get="/venues/{{ venue.id }}" hx-target="#content">
      <td>{{ venue.name }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
