<div id="item-list" class="flex flex-col">
  <div class="-m-1.5 overflow-x-auto">
    <div class="p-1.5 min-w-full inline-block align-middle">
      <div class="overflow-hidden">
        <table class="min-w-full divide-y divide-gray-200 dark:divide-gray-700">
          <tbody class="divide-y divide-gray-200 dark:divide-gray-700">
            {% for item in items %}
            <tr
              class="hover:bg-gray-100 dark:hover:bg-gray-700"
              hx-get="/{{ url_base }}/{{ item.id }}"
              hx-push-url="true"
              hx-target="#content"
            >
              <td
                class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-800 dark:text-gray-200"
              >
              {{ item.name }}
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
