<div class="flex flex-col">
  <div class="-m-1.5 overflow-x-auto">
    <div class="p-1.5 min-w-full inline-block align-middle">
      <div class="overflow-hidden">
        <table class="min-w-full divide-y divide-gray-200 dark:divide-gray-700">
          <thead>
            <tr>
              <th
                scope="col"
                class="px-6 py-3 text-start text-xs font-medium text-gray-500 uppercase"
              >
                Name
              </th>
            </tr>
          </thead>

          <tbody class="divide-y divide-gray-200 dark:divide-gray-700">
            {% for season in seasons %}
            <tr
              class="hover:bg-gray-100 dark:hover:bg-gray-700"
              hx-get="/leagues/{{ league.id }}"
              hx-vals='{"season_id": "{{ season.id }}"}'
              hx-target="#content"
            >
              <td
                class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-800 dark:text-gray-200"
              >
                {{ season.name }}
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<div class="overflow-x-auto container shadow ml-2 rounded">
  <!-- hx-target="#new-season-modal" -->
  <!-- hx-swap="outerHtml" -->
  <button
    id="new-season-btn"
    hx-get="/seasons/create/{{ league.id }}"
    hx-trigger="click once"
    hx-target="#new-season-modal"
    hx-swap="outerHTML"
    _="on click send showModal to #new-season-modal"
    class="w-full py-2 px-3 inline-flex justify-center items-center gap-x-2 text-sm font-semibold rounded-lg border border-transparent bg-green-600 text-white hover:bg-green-700 disabled:opacity-50 disabled:pointer-events-none dark:focus:outline-none dark:focus:ring-1 dark:focus:ring-gray-600"
  >
    New Season
  </button>
  <dialog id="new-season-modal">
    <div
      class="animate-spin inline-block size-6 border-[3px] border-current border-t-transparent text-blue-600 rounded-full dark:text-blue-500"
      role="status"
      aria-label="loading"
    >
      <span class="sr-only">Loading...</span>
    </div>
  </dialog>
</div>
