<div class="text-sm breadcrumbs">
  <ul>
    <li hx-boost="true" hx-target="#content">
      <a href="/leagues">Leagues</a>
    </li>
    <li>{{ league.name }}</li>
  </ul>
</div>

<div class="divider divider-start">Details</div>

<div class="overflow-x-auto">
  <table class="table-sm">
    <tbody>
      <tr>
        <th>Name</th>
        <td>{{ league.name }}</td>
      </tr>
      <tr>
        <th>Description</th>
        <td>{{ league.description }}</td>
      </tr>
    </tbody>
  </table>
</div>

<div class="divider divider-start">Seasons</div>
<div class="overflow-x-auto">
  <table class="table-xs">
    <thead>
      <tr>
        <th></th>
        <th>Name</th>
        <th>Start Date</th>
        <th>End Date</th>
      </tr>
    </thead>
    <tbody>
      {% for season in seasons %}
      <tr class="hover" hx-get="/leagues/{{ league.id }}" hx-target="main">
        <th>{{ loop.index }}</th>
        <td>{{ season.name }}</td>
        <td>{{ season.start }}</td>
        <td>{{ season.end }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
